* {
    padding: 0;
    margin: 0;
  }
  

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px
  }
  .container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
@import "./_untills/placeholders";
@import "./_untills/variables";

@import "../scss/_components/_Portfolio/header";
@import "../scss/_components/_Portfolio/footer";
@import "../scss/_components/_Portfolio/main-sec";
@import "../scss/_components/_Portfolio/filter";

.container {
  width: 100%;
  @media screen and (max-width: 767px){
    margin: 0px auto;
    padding: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 750px;
    margin: 0px auto;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
}
@media screen and (max-width: 767px){
  section{
    padding: 0px 15px;
  }
  .main-header{
    padding-left: 15px;
    padding-right: 15px;
  }
}